body{
	margin: 0;
	background-color: #FFD9EC;
}

h1,ul,li,h2,p{
	margin: 0;
}

#logo{
	font-family: 'Pacifico', cursive;
	margin-top: 10px;
	font-size: 50px;
}

header{
	margin-top: 20px;
	position: absolute;
	left: 50%;
	margin-left: -30%;
	width: 60%;
	height: 100px;
}

.header_logo{
	display: inline-block;
	width: 200px;
	height: 100px;
	margin-left: 5%;
}

.header_link
{
	text-align: center;
	float: right;
	margin-top: 20px;
	margin-right: 10%;
}

.header_link a{
	text-decoration:none;
}

.header_link a:visited{
	color: black;
}


.header_link a:hover{
	color: red;
}


.header_link a:active{
	color: blue;
}

.header_link li{
	border-style: outset;
	background-color: #FFBB66;
	width: 140px;
	height: 60px;
	display: inline-block;
	list-style: none;
}

.header_link li p{
	font-size: 30px;
	margin-top: 10px;
}

main{
	position: absolute;
	left: 50%;
	margin-top: 120px;
	margin-left: -40%;
	width: 80%;
	height: 800px;
	background-color: #AAAAAA;
}

main a{

	text-decoration:none;
}

main a:visited{
	color: red;
}

main a:hover{
	color: black;
}

main a:active{
	color: blue;
}


main p{
	font-size: 40px;
	font-family: 'Pacifico', cursive;
	margin-left: 40px;
	margin-top: 40px;
}

.main_left{
	background-image: url(./pic/baby.jpg);
	background-size: contain;
	float: left;
	width: 30%;
	height: 300px;
	background-color: #FFEE99;
}

.main_center{
	background-image: url(./pic/health.jpg);
	background-size: cover;
	float: left;
	width: 40%;
	height: 300px;
	background-color: #CCFF99;
}

.main_right{
	background-image: url(./pic/fitness.jpg);
	background-size: cover;
	float: right;
	width: 30%;
	height: 300px;
	background-color: #FFEE99;
}

#main_span{
	background-image: url(./pic/lifegood.jpg);
	background-size: cover;
	margin-top: 300px;
	width: 100%;
	height: 600px;
	background-color: #666666;
}

footer{
	position: absolute;
	left: 50%;
	margin-top: 1020px;
	margin-left: -40%;
	width: 80%;
	height: 900px;
	background-color: #BBFFEE;
}

#open_info{
	font-family: 'Pacifico', cursive;
	float: right;
	width: 588px;
	height: 100px;
	margin-right: 10%;
}

#open_info p{
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

#table{
	margin-right: 10%;
	clear: right;
	background-color: #f5f5f5;
	float: right;
	border:1px solid #e5e5e5;
	width: 20%; 
	height:600px; 
}

#place{
	background-color: #888888;
	
	float: left;
	width: 50%;
	height: 900px;
}

.googleMap{

}


.buttom{
	position: absolute;
	left: 50%;
	margin-top: 1920px;
	margin-left: -40%;
	width: 80%;
	height: 100px;
	background-color: #000000;
}

.buttom p{
	display: inline-block;
	margin-top: 10px;
	margin-left: 50px;
	font-size: 30px;
	color: #FFFFFF;
}

